.env
.idea
servers.json
rustplus.config.json
/__pycache__/
.build/
/dist/
rust-bot.spec
rust-bot.exe
users.json
storage_monitors.json
death_history.json
event_timestamps.json
switches.json
timers.json
active_connections.json
